@import './_colors';
@import'./_animate';
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html{
    scroll-padding-top:81px;
}

body{
    position: relative;
    
    background-color: $bg-color;
}

h2{
    text-align: center;
    text-transform: uppercase;
}
.underline{
    margin: 0 auto 40px;
    width: 60px;
    height: 4px;
    background-color: $main-color;

}
.shadow-bg{
    background-color: rgba(75, 75, 75, 0.6);
    
}
nav{
    text-transform: uppercase;
    z-index: 1;
    transition: .6s;
.nav-link{
    
    color: $white;
    
}
.nav-link:hover{
    color: $main-color;
    transition: 1s;
}
i{
    padding: 10px;
}
.navbar-brand{
    font-weight: bold;
    
}
.active{
 color: $main-color;
}
.fa-bars{
    color: white;
}
}
.Diet{
    color: rgb(218, 10, 10);
    font-family: fantasy;
}
.fa-hamburger{
   color: $white;

}
.So{
    
    color: rgb(8, 12, 241);
    font-family: fantasy;

}
.hero-img{
    position: relative;
    height: 100vh;
 background-image: url("/img/hamburger-g53ad7fa08_1920.jpg");
 background-position: center;
 background-size: cover;
 background-attachment: fixed;
 z-index: 0;
}
.hero-shadow{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  
  z-index:-4 ;
  
}
 .hero-text{ 
    display:flex;
    justify-content:center;
align-items:center;
height: 100%;
padding: 10px;
text-align: center;
flex-direction: column;
z-index: 3;

}

header{
    color:$white;

    h1{
        text-transform: uppercase;
        font-size: 30px;
        
    }
    p{
        font-size: 14px;
    }
}.btn btn-outline-light{
    text-transform: uppercase;
}.fa-chevron-down{
    position: absolute;
    bottom: 20px;
    font-size: 30px;
    left:50%;
    transform:translateX(-50%);
    color: $white;
    
}
.aboutus{
    height: auto;
    
    i{
        margin-top: 20px;
        font-size: 30px;
       
       
        
    }
    

    .aboutus-card-title{
        font-size: 18px;
        text-transform: uppercase;
        

    }
    .aboutus-card-text{
        font-size: 14px;
        

    }
    .aboutus-hover{
        transition: 0.2s;
    }
    .aboutus-hover:hover{
        color: $main-color;
        
    }
}

@media(min-width:315px){
    header{
    h1{
       
     font-size: 30px;
    
    }
    p{
        font-size: 16px;
    }
}}
@media(min-width:760px){
    header{
    h1{
       
     font-size: 30px;
    
    }
    p{
        font-size: 16px;
    }
}}
@media(min-width:992px){
   nav{
       height: 82px;
    }
    .aboutus-hero{
    position: relative;
    background-image: url("./img/vegan-g3d033a2fe_640.jpg");
background-size: cover;
color: $littlegrey;
z-index: 0;

        }
        .prices{
            .price-info{
             
            font-size: 20px;
        }}
    }
@media(min-width:1200px){
    header{
    .hero-img{
       
     background-image: url("/img/hamburger-g53ad7fa08_1920.jpg");
    
    }}
}

section{
    height: 400px;
}
.aboutus-hero{
position: relative;
background-image: url("./img/vegan-g5b0e7750b_1920.jpg");
background-size: cover;
color: $littlegrey;
z-index: 0;
height: auto;
}
.aboutus-shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    top:0;
    z-index: -5;
}
.aboutus-hero-item{
    margin:10px 0;
    i{
        font-size: 35px;
    }
    .about-hero-title{
        font-size: 24px;
    }
}
.portfolio{height: auto;
    .carousel-item{
        height: 600px;
    }
    .carousel-caption{
        position: absolute;
        left: 0;
        right: 0;
        padding: 40px, 0;
        background-color: rgba(0,0,0, .8);
    }
}

.prices{
    height: auto;


.price-box{
    margin: 20px 10px;
    padding: 30px;
 background-color: $white;
 box-shadow: 5px 5px 5px rgba(0,0,0, .4);
 transition: transform .3s;
 h3{
     color: $main-color;
 }
 span{
     font-weight: bold;

 }
 button{
     padding: 10px 20px;
     text-transform: uppercase;
 }
 .price-tag{
     font-weight: bold;
     font-size: 20px;
 }
}


}
.price-box:hover{
  transform: scale(1.05);  
}
.price-info{
    margin-top: 30px;
    a{
        text-decoration: none;
    }
    font-size: 20px;
}
.team-bar{
    position: relative;
    background-image: url("./img/time-g3e0620be0_1920.jpg");
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
    height: 100%;
    
    .team-shadow{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .8);
        top: 0;
        z-index: -5;
    }

    h2{
        color:$littlegrey;
    }
     .card{
    transition: 0.4s;
img{
    height: 300px;
    object-fit: cover;

}
i{
    padding: 10px;
}
}
    .card:hover{
        transform: scale(0.95);
    }
    .card-title{
        margin-bottom: 20px;
        text-align: center;
        text-transform: uppercase;
    }
        .card-body{
            height: 160px;
        }
}
#achievements{height: 100%;}
.achievement{
    i{
        padding: 10px ;
        font-size: 30px;
       color: $white;
        text-shadow: 0 0 5px #000;
    }
}
.contact{
    background-image: url("./img/abstract-g246802b6c_1920.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: $littlegrey;
    position: relative;
    z-index: 0;
    height: 100%;

    .contact-us{
        margin: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
      h3{
          letter-spacing: 3px;
          margin-bottom: 2px;
          text-transform: uppercase;
      }
        .social-media{
            i{
                color: $white;
                padding: 15px;
                font-size: 25px;
            }
          
        }
       
    } 
   
}
.contact-shadow{
       background-color: rgba(0, 0, 0, 0.6);
       height: 100%;
       width: 100%;
       position: absolute;
       top: 0;
       z-index: -1;
   } 